<!DOCTYPE html>
<html>
<head>
  <title>Staff | ServiceCenter</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>

<body>
<%= yield %>

<%= stylesheet_link_tag 'application', media: 'all' %>
<%= javascript_pack_tag 'application' %>
<%= javascript_pack_tag 'staff' %>
</body>
</html>
