<!DOCTYPE html>
<html>
<head>
  <title>Staff | ServiceCenter</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</head>

<body>
<%= yield %>

<%= stylesheet_link_tag 'application', media: 'all' %>
<%= javascript_pack_tag 'application' %>
<%= javascript_pack_tag 'staff' %>
</body>
</html>
